nav{
    background-color: rgb(245, 50, 6);
    height: 70px;
    width: 100%;
    
}
#lab1{
   
    color: white;
    font-style:oblique;
    text-decoration:underline;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding:20px
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    padding: 5px;
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
}